*{
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;

	
}

/*nav bar*/
nav	{
	height: 40px;
	padding: 1px;
	opacity: .5;
	display: flex;
	justify-content: center;
	align-items: center;
	position: sticky;
	top: 0;
	
}

nav > ul {
	display: flex;
	list-style-type: none;
}

nav	> ul >li {
	margin: 0 20px;
	font-size: 30px;
}

.Home, .Product, .Site, .Contact {
	font-size: 30px;
}

header	{
	background-color: #89BF71;
	height: 100vh;
}

nav > ul > li > a {
	text-decoration: none;
	color: black;
}
/*first section*/
.first-sec {
	
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

.first-sec > div{
	height: 500px;
	padding: 30px;
	margin:	20px;
	
}

div > img {
	border-radius: 10%;
	width: 50vh;
	height: 50vh;

}

span {
	font-size: 30px;
	color: blue;
	position: relative;
	animation-name: colorChange;
	animation-duration: 2s;
	animation-iteration-count: infinite;
}

@keyframes colorChange {
	0% {
		color: red;
	}
	20% {
		color: green;
	}
	40% {
		color: yellow;
	}
	60% {
		color: blue;
	}
	}
}
}	

div	> p {
	font-size: 20px;
	text-shadow: 1px 1px 10px #89BF71;
	color: black;
	font-family: 'PT Sans Narrow', sans-serif;

}


.product-image, .product-image2 {
	text-align: center;
	
	

}	

/*second section*/

.second-sec {
	background-color: #89BF71;
	padding-top: 80px;
	margin-top: 2px;
	height: 100vh;
	width: 100%;
	
}

h1 {
	font-family: 'PT Sans Narrow', sans-serif;
	font-size: 80px;
	text-align: center;
}

.shop-images > div > img {
	height: 200px;
	width: 200px;
	border-radius: 5%;
	
}

.shop-images {
	display: flex;
	justify-content: center;
	align-items: center;

}

.shop-images > div > img:hover {
	transition: 2s;
	height: 300px;
	width: 300px;

}

/*third section*/

.third-sec {
	background-color: #91b76c;
	height: 100vh;
	padding: 50px;
	
}

.area {

	display: flex;
	justify-content: space-around;

}
.area > div > img {
	height: 200px;
	/*width: 200px;*/
	border-radius: 10%;
}

ul {
	list-style-type: none;
	text-align: center;
}

.Covered Areas > .area {

}

#pampanga > ul {
	list-style-type: none;
	
}




/*#pampanga {
	position: relative;
	right: 150px;
	visibility: hidden;
	animation-name: pampanga-slide;
	animation-duration: 2s;
	animation-iteration-count: initial;
}	*/

.last-sec {
	background-color: green;
	height: 100vh;
}

/*@keyframes pampanga-slide {
	<div data-aos="fade-left"></div>
}*/


