*{
	margin: 0;
	padding: 0;
	/*background-color: #89BF71;*/
	font-family: 'Ubuntu', sans-serif;
	text-shadow: 2px 2px 30px #89BF71;
	
}

header {
	background-image: url(../images/bg.jpg);
	background-size: cover;
	background-position: center;
	justify-content: center;

}



.divider {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

}

.left {
	height: 50%;
	width: 70%;
	text-align: center;
	font-size: 50px;
		
}

.btn {
	border-spacing: 10px;
	background-color: #89BF71;
	height: 40px;
	border-radius: 50%;

}


.right {
	margin: 50px;
	text-align: center;
	font-size: 40px;
}

/*animation*/

h1 {
	font-size: 60px;
	animation-name: colorChange;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	color: salmon;
}

@keyframes colorChange {
	0% {
		color: red;
	}
	20% {
		color: green;
	}
	40% {
		color: blue;
	}
	60% {
		color: yellow;
	}
	}
}